@font-face {
    font-family: 'CaviarDreams';
    src: url(../font/CaviarDreams.ttf) format(ttf),
         url(../font/CaviarDreams_Bold.ttf) format(ttf),
         url(../font/CaviarDreams_Italic.ttf) format(ttf),
         url(../font/CaviarDreams_BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --verde-escuro: #1B4332;
    --verde: #2D6A4F;
    --verde-claro: #D8F3DC;
    --verde-principal: #2e7d32;
    --verde-normal: #3fcf47;
    --azul: #1565C0;
    --azul-escuro: #0d47a1;
    --azul-claro: #8ac7f99f;
    --branco: #FFFFFF;
    --cinza: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cinza);
}

body {
    font-family: Arial, sans-serif;
    background: var(--branco);
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card {
    background: var(--azul-claro);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    width: 100%;
    max-width: 500px;
}

input,
button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

button {
    background: var(--azul);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: var(--azul-escuro);
}

h1 {
    font-family: 'CaviarDreams', sans-serif;
    color: var(--verde-normal);
    padding: 20px;
    
}

h2 {
    color: var(--verde-principal);
}

span {
    color: var(--verde-claro);
}

p {
    position: relative;
    font-size: 20px;
    padding: 5px;
}

header {
    background: var(--azul);
    color: #fff;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    gap : 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    position: relative;
    color: var(--verde-claro);
    top: -5px;
    cursor: pointer;
}

nav a {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    animation: entrada 1s ease;
}

.card-box {
    background: var(--azul-claro);
    padding: 1rem;
    border-radius: 12px;
    animation: entrada 1s ease ; 
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translate3d(-500px, 0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 10px, 0px);
    }
}

.card-box:hover {
    position: relative;
    padding: 20px
}

@media(min-width:768px) {
    nav ul {
        flex-direction: row;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}